@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; background:#1f2737;}
a, a:link{color:#0066ff; text-decoration:none;}
.content{background:#fff; width:100%;}
.ctdWrapper{width:980px; margin:0 auto; position:relative; height:500px;}
.profilePic{position:absolute; bottom:-75px; left:100px;}
.underConstruction{position:absolute; top:65px; left:160px;}
.shortBio{position:absolute; bottom:20px; left:260px; font-size:36px; font-family: 'barthowheelregular', Arial, Helvetica, sans-serif; color:#1f2737; letter-spacing:-1px; line-height:28px;}
.shortBio .contact{margin-top:10px; font-size:24px; color:#555;}

@media all and (max-width: 1024px)
{
	.ctdWrapper{width:100%;}
	.profilePic{left:20px;}
	.underConstruction{top:65px; left:60px;}
	.shortBio{left:175px; font-size:20px;}
	
}

@media all and (max-width: 480px)
{
	.underConstruction{width:80%;}
	.shortBio{font-size:20px;}
	.shortBio .contact{font-size:16px;}
}

